#tracker-page #chart-wrapper {
    display: inline-block;
    position: relative;
    max-width: 1000px;
    width: 90vw;
    margin: 30px 10px 10px 10px;
}

#tracker-page div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-top: 20px;
}

#tracker-page h1 {
    margin: 5px 0 5px 0;
    font-size: x-large;
}

#tracker-page i {
    font-size: 40px;
    margin-left: 5vw;
    margin-right: 5vw;
    cursor: pointer;
}