#power-page .card {
    margin: 50px 10px 50px 10px;
    font-size: x-large;
}

#power-page #active-row {
    --text-color: rgb(255, 200, 98);
}

#power-page #apparent-row {
    --text-color: rgb(202, 255, 123);
}

#power-page #reactive-row {
    --text-color: rgb(103, 255, 222);
}

#power-page #power-factor-row {
    --text-color: rgb(255, 111, 100);
}

#power-page #voltage-row {
    --text-color: rgb(98, 216, 255);
}

#power-page #current-row {
    --text-color: rgb(255, 156, 255);
}

#power-page .label {
    width: 200px;
}

#power-page .symbol, .value, .unit {
    font-style: italic;
}

#power-page .symbol {
    width: 50px;
}

#power-page .value {
    width: 80px;
}


#power-page input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

#power-page label {
    cursor: pointer;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: rgb(90, 90, 90);
    display: block;
    position: relative;
    border-radius: 20px;
}

#power-page label:active {
    background-color: initial;
    color: initial;
    outline: none;
}

#power-page label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

#power-page input:checked + label {
    background: var(--main-color);
}

#power-page input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#power-page label:active:after {
    width: 130px;
}