#wifi-page .card {
    display: block;
    margin-top: 20px;
    width: 80vw;
}

#wifi-page form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

@media (min-width: 600px) {
    #wifi-page form div {
        font-size: 25px;
    }
}

#wifi-page h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

#wifi-page input {
    background-color: var(--background-color);
    border: none;
    height: 20px;
    width: 60%;
}


#wifi-page button {
    width: 60%;
    height: 30px;
    font-family: "Dosis";
    font-size: 15px;
    font-weight: bold;
    background-color: var(--main-color);
    border: 0;
}

#wifi-page button::before {
    content: "";
}